{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <div class="container">
        <!-- HEADER -->
        {% include 'blog/header.html' %}

        <!-- NAV BAR -->
        {% include 'blog/navbar.html' %}

        <div class="row">
            <div class="col-md-9">
                {% block content %} {% endblock %}
            </div>

            <div class="col-md-3">
                <h4 class="text-center">About</h4>
                <p>
                    Urna taciti fusce platea arcu pellentesque luctus accumsan,
                    nostra himenaeos curae condimentum fames natoque, faucibus quis
                    litora magnis integer feugiat.
                </p>
                <hr>
                <h4 class="text-center">Archives</h4>
                <ol class="list-unstyled">
                    <li><a href="{% url 'year' year=2018 %}">July 2018</a></li> <!-- not implemented yet -->
                </ol>
                <hr>          
                <form method="GET" action="{% url 'search' %}">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search posts..." name="q">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="button"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- FOOTER -->
        {% include 'blog/footer.html' %}
    </div>
</body>
</html>
