{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock %}


{% block content %}
{% if post.status != 'DRAFT' %}
<div class="post">
    <p><a href="{% url 'blog:details_post' slug=post.slug %}"><h2>{{ post.title }}</h2></a></p>
    <div class="row justify-content-between px-3">
        <div>
        Posted on &nbsp;<b>{{ post.published_date|date:"F j, Y" }}</b>&nbsp; by &nbsp;<b><a href="{% url 'blog:author' author=post.author.first_name %}">{{ post.author.first_name }}</a></b>
        </div>

        <div>
            <b>Categories:</b> &nbsp;
            {% for category in post.category.all %}
                {% if not forloop.first %}/ {% endif %}
                <a href="{% url 'blog:category' name=category.name %}">{{ category.name }}</a>
            {% endfor %}
        </div>
    </div>
    <hr>
    <p>
        {{ post.content|linebreaks }}
    </p>
    <hr>
    <div class="row justify-content-between px-3">
        <div>
            <b>Tags:</b>&nbsp;
            {% for tag_name in post.tags.names %}
                {% if not forloop.first %}, {% endif %}
                <a href="{% url 'blog:tag' tag=tag_name %}">{{ tag_name }}</a>
            {% endfor %}
        </div>

        <div>
            <a href=""><i class="fab fa-twitter px-2"></i></a>
            <a href=""><i class="fab fa-facebook-f px-2"></i></a>
            <a href=""><i class="fab fa-instagram px-2"></i></a>
            <a href=""><i class="fab fa-pinterest px-2"></i></a>
        </div>
        <!-- <div>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><i class="fab fa-facebook-f"></i></a>,
            <a href="https://twitter.com/home?status={{ parsed_content }}%20{{ request.build_absolute_uri }}"><i class="fab fa-twitter"></i></a>,
            <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}"><i class="fab fa-google-plus-g"></i></a>
        </div> -->

        <!-- Post actions for authenticated users -->
        {% if user.is_authenticated and post.author.username == request.user.username %}
            <div>
                <b>Author actions:</b>&nbsp;
                <!-- Amend post for authenticated author -->
                <a href="{% url 'blog:update_post' slug=post.slug %}">Update</a>
                |
                <!-- Delete post for authenticated author -->
                <a href="{% url 'blog:delete_post' slug=post.slug %}">Delete</a>
            </div>
        {% endif %}     
    </div>
    <hr>
    <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="3" width="100%"></div>
</div>
{% else %}
<p>No such post.</p>
{% endif %}
{% endblock %}
