{% if is_paginated %}
  <ul class="pagination justify-content-center">
    {% if post_list.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ post_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&laquo;</span>
      </li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if post_list.number == i %}
        <li class="page-item active">
          <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
        </li>
        <!-- TODO: ADD CONSTRAINT ON VISIBLE AMOUNT OF PAGES! -->
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if post_list.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ post_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">&raquo;</span>
      </li>
    {% endif %}
  </ul>
{% endif %}