{% extends 'base.html' %}

{% block title %} Posts in {{ month|date:"F Y" }} {% endblock %}

{% block content %}

<h3>Archived posts in {{ month|date:"F Y" }}</h3>

<ul>
    {% for post in object_list %}
        <li><a href="{% url 'single_post' slug=post.slug %}">{{ post.title }}</li>
    {% endfor %}
    {# post.published_date|date:"F j, Y" #} 
</ul>

<p>
    {% if previous_month %}
        Previous Month: {{ previous_month|date:"F Y" }}
    {% endif %}
    {% if next_month %}
        Next Month: {{ next_month|date:"F Y" }}
    {% endif %}
</p>

{% endblock %}