{% extends 'base.html' %}

{% block title %} Search results for '{{ request.GET.q }}' {% endblock %}

{% block content %}
{% if request.GET.q %}
	<h3>Search results for '{{ request.GET.q }}':</h3>
	<hr>
	{% for post in posts %}
	    {% if post.status != 'DRAFT' %}
	        <div class="post">
	            <p><a href="{% url 'blog:details_post' slug=post.slug %}"><h2>{{ post.title }}</h2></a></p>
	            <div class="row justify-content-between px-3">
	                <div>
	                Posted on &nbsp;<b>{{ post.published_date|date:"F j, Y" }}</b>&nbsp; by &nbsp;<b><a href="{% url 'blog:author' author=post.author.first_name %}">{{ post.author.first_name }}</a></b>
	                </div>

	                <div>
	                    <b>Categories:</b> &nbsp;
	                    {% for category in post.category.all %}
	                        {% if not forloop.first %}/ {% endif %}
	                        <a href="{% url 'blog:category' name=category.name %}">{{ category.name }}</a>
	                    {% endfor %}
	                </div>
	            </div>
	            <hr>
	            <p>
	                {{ post.content|truncatewords:10 }}<a href="{% url 'blog:details_post' slug=post.slug %}">Read more</a>
	            </p>
	        </div>
	        <hr>
	    {% endif %}
	{% empty %}
	    <p>No posts matching search query.</p>
	{% endfor %}
	<!-- PAGINATION -->
	    {% include 'blog/pagination.html' %}
{% else %}
	<h3>Search</h3>
	<hr>
	<form method="GET" action="{% url 'blog:search' %}">
	    <input type="text" class="form-control" placeholder="Search posts..." name="q">
	</form>
{% endif %}
{% endblock %}

