{% extends 'base.html' %}

{% block title %} Search results for '{{ request.GET.q }}' {% endblock %}

{% block content %}
{% if request.GET.q %}
<h2> Search results for '{{ request.GET.q }}':</h2>
{% for post in list_posts %}
<p>
    <a href="{% url 'single_post' slug=post.slug %}"><h4>{{ post.title }}</h4></a>
    <h6> by {{ post.author.username }}</h6>
</p>
<hr>
{% empty %}
<p>No posts matching search query.</p>
{% endfor %}
{% else %}
<hr>
<h2>Search</h2>
<form method="GET" action="{% url 'search' %}">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search posts..." name="q">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button"><i class="fas fa-search"></i></button>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}
