{% extends "base.html" %}

{% block title %}
    Posts for {{ year }}
{% endblock %}

{% block content %}
    <h1><b>Archived posts:</b> <i>{{ year }}</i></h1>
    <hr>
    {% for post in posts %}
        <h5>{{ post.title }}</h5>
        <p><strong>Author:</strong> {{ post.author.name }}, published: {{ post.created|date:"F j, Y" }}</p>
        <p>{{ post.content }}</p>
        <hr>
        <h5><b>Comments:</b></h5>
        {% for comment in comments.all %}
            <p> {{ comment.content }} </p>
            <hr>
        {% empty %}
            <p>No comments yet</p>
        {%endfor %}
    {% empty %}
        <p>No posts in {{ year }}</p>
    {% endfor %}
{% endblock %}
