.container {
    max-width: 75%;
}

.header-title {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, "Times New Roman", serif;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}

@media (min-width: 40em) {
    .blog-title {
        font-size: 3.5rem;
    }
}

/* Pagination */

.blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

/* Footer */

footer {
    padding: 2.5rem 0;
    color: #999999;
    text-align: center;
    background-color: #f9f9f9;
}

footer p {
    margin-bottom: 0;
}
