body {
	background-color: #fff;
	color: #33444C;
	font-family: "Open Sans", sans-serif;
}

a {
	color: #0090C8;
	text-decoration: none;
}

a:hover {
	opacity: .5;
	text-decoration: none;
}

.container {
    max-width: 90%;
}

#searchbox {
	max-width: 200px;
}

#archives {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.post p img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/* to fix markdown editor indentation */
.wmd-panel {
	margin-left: 0px !important;
	margin-right: 0px !important;
}